.circle{
  border-radius: 50%;
  height:110px;
  width:110px;
  
}

#red{
  background-color: red;
}

#blue{
  background-color: blue;
}

#yellow{
  background-color:yellow;
}

#violet{
  background-color: indigo;
}

#green{
  background-color: green;
}

#orange{
  background-color: orange;
}

.abcd{
  margin-top: 50px;
}

.colorwheel{
 text-align: center;
}